{% extends 'base.html' %}
{% block content %}
<h2>Enter student marks</h2>
<ul class="errors">
{% for field, errors in form.errors.items() %}
    <li>
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </li>
{% endfor %}
</ul>
<form method="POST">
    {{ form.csrf_token }}

    {{ form.name.label(class='form-label') }}
    {{ form.name(class='form-control') }}

    {{ form.grade_id.label(class='form-label') }}
    {{ form.grade_id(class='form-control') }}

    {{ form.house_id.label(class='form-label') }}
    {{ form.house_id(class='form-control') }}

    <h3>Subjects</h3>

    {{ form.english_mark.label(class='form-label') }}
    {{ form.english_mark(class='form-control') }}

    {{ form.science_mark.label(class='form-label') }}
    {{ form.science_mark(class='form-control') }}

    {{ form.mathematics_mark.label(class='form-label') }}
    {{ form.mathematics_mark(class='form-control') }}

    <h3>Behaviours</h3>
    <div class="form-check my-2">
        {{ form.does_homework.label(class='form-check-label') }}
        {{ form.does_homework(class='form-check-input') }}
        <br>
        {{ form.stays_on_task.label(class='form-check-label') }}
        {{ form.stays_on_task(class='form-check-input') }}
    </div>
    
    {{ form.submit(class='btn btn-primary my-2') }}
    
</form>
{% endblock %}